<!DOCTYPE html>
<html><body style="font-family:Arial; background:#e3e6e6; margin:0">
<a href="/" style="padding:15px; display:block">← Back to Deeksha's Store</a>
<div style="background:white; display:flex; padding:30px; gap:30px; margin:20px">
<img src="{{p[3]}}" style="width:350px">
<div>
<h1>{{p[1]}}</h1><p>★★★★☆ 4.3 (12,543)</p><hr>
<p>{{p[4]}}</p>
<h2 style="color:#B12704">₹{{p[2]}}</h2>
<p>✓prime Free Delivery Tomorrow for Deeksha ❤️</p><br>
<a href="/add_to_cart/{{p[0]}}"><button style="background:#ffd814; padding:12px 30px; border-radius:20px; border:none; font-weight:bold; font-size:18px; cursor:pointer">Add to Cart</button></a>
</div></div></body></html>
